alabaster==0.7.16
appnope==0.1.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==3.0.0
autocommand==2.2.2
babel==2.16.0
backports.tarfile==1.2.0
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.0
cheroot==10.0.1
CherryPy==18.10.0
click==8.1.7
comm==0.2.2
contourpy==1.3.0
cycler==0.12.1
debugpy==1.8.13
decorator==5.1.1
docutils==0.21.2
exceptiongroup==1.2.2
executing==2.2.0
fonttools==4.55.3
google-trans-new==1.1.9
gTTS==2.5.4
idna==3.10
imagesize==1.4.1
importlib_metadata==8.5.0
importlib_resources==6.4.5
iniconfig==2.0.0
ipykernel==6.29.5
ipython==8.18.1
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
jedi==0.19.2
Jinja2==3.1.4
joblib==1.4.2
jupyter_client==8.6.3
jupyter_core==5.7.2
kiwisolver==1.4.7
MarkupSafe==3.0.2
matplotlib==3.9.4
matplotlib-inline==0.1.7
mnemosyne-proj==2.11
more-itertools==10.5.0
nest-asyncio==1.6.0
opencv-python-headless==4.10.0.84
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
pillow==11.0.0
platformdirs==4.3.7
pluggy==1.5.0
ply @ file:///home/conda/feedstock_root/build_artifacts/ply_1733239724146/work
portend==3.2.0
prompt_toolkit==3.0.50
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==2.22
Pygments==2.18.0
pyparsing==3.2.0
PyQt5==5.15.9
PyQt5-sip==12.12.2
PyQt6==6.8.0
PyQt6-Qt6==6.8.1
PyQt6-WebEngine==6.8.0
PyQt6-WebEngine-Qt6==6.8.1
PyQt6_sip==13.9.1
pytest==7.4.4
pytest-timeout==2.3.1
python-dateutil==2.9.0.post0
pytz==2025.1
pyzmq==26.3.0
requests==2.32.3
scikit-learn==1.6.1
scipy==1.13.1
sip @ file:///Users/runner/miniforge3/conda-bld/sip_1697300460125/work
six==1.17.0
snowballstemmer==2.2.0
Sphinx==7.4.7
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
stack-data==0.6.3
tempora==5.7.0
threadpoolctl==3.6.0
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1734091811753/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1733256695513/work
tornado==6.4.2
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.2.3
wcwidth==0.2.13
WebOb==1.8.9
zc.lockfile==3.0.post1
zipp==3.21.0
